doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  
  body

   // Navigation
   nav 
     
    h1(id="mainLink") #[a(href="./") Book Tracker]

    div(id="navList")
     #[a(href="/booksread" class="mainNavListLink") Books Read]
     #[a(href="/bookshave" class="mainNavListLink") Books Owned]
     #[a(href="/totalbooks" class="mainNavListLink") Total Books]
     #[a(href="/about" class="mainNavListLink") About]

   //  The rest of page
   div
    block content

   // Footer
   footer 
    p 2022 
