extends layout

block content

 div(class="hero")
  h1 Total books
  p Total: #{ totalBooks.length } 

 div
  ul(id="theRealBookList")
   each book in totalBooks
    li(class="bookItem")
     p(class="bookTitle") #{ book.bookTitle }
     p(class="bookAuthor") #{ book.bookAuthor }